# Backend app
BACKEND_PORT=8000
DATABASE_URL=postgresql+psycopg://zabbix_sla:zabbix_sla@db:5432/zabbix_sla
ZABBIX_API_URL=https://zabbix.example/api_jsonrpc.php
ZABBIX_API_TOKEN=
SMTP_HOST=
SMTP_PORT=587
SMTP_USERNAME=
SMTP_PASSWORD=
SMTP_SENDER_EMAIL=
SMTP_USE_TLS=true

# Frontend app
FRONTEND_PORT=5173

# Database container
POSTGRES_DB=zabbix_sla
POSTGRES_USER=zabbix_sla
POSTGRES_PASSWORD=zabbix_sla
POSTGRES_PORT=5432
